In [1]:
import pandas as pd

### Opioid Overdoses

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CAEA-B542

 Directory of C:\Users\kayce_000\Flatiron School\Module 5\Project 4

01/21/2020  03:55 PM    <DIR>          .
01/21/2020  03:55 PM    <DIR>          ..
01/21/2020  03:49 PM    <DIR>          .ipynb_checkpoints
01/21/2020  03:55 PM             4,080 opioids.csv
01/21/2020  03:55 PM             1,789 overdoses.csv
01/21/2020  03:55 PM        14,402,282 prescriber-info.csv
01/21/2020  03:51 PM             1,545 Untitled.ipynb
01/21/2020  03:46 PM         1,861,865 us-opiate-prescriptions.zip
               5 File(s)     16,271,561 bytes
               3 Dir(s)  164,330,037,248 bytes free

In [4]:
opioids = pd.read_csv('opioids.csv')

In [5]:
overdoses = pd.read_csv('overdoses.csv')

In [7]:
prescriber = pd.read_csv('prescriber-info.csv')

In [8]:
opioids.head()

                        Drug Name                    Generic Name
0                         ABSTRAL                FENTANYL CITRATE
1           ACETAMINOPHEN-CODEINE      ACETAMINOPHEN WITH CODEINE
2                           ACTIQ                FENTANYL CITRATE
3             ASCOMP WITH CODEINE  CODEINE/BUTALBITAL/ASA/CAFFEIN
4  ASPIRIN-CAFFEINE-DIHYDROCODEIN  DIHYDROCODEINE/ASPIRIN/CAFFEIN

In [9]:
overdoses.head()

        State  Population Deaths Abbrev
0     Alabama   4,833,722    723     AL
1      Alaska     735,132    124     AK
2     Arizona   6,626,624  1,211     AZ
3    Arkansas   2,959,373    356     AR
4  California  38,332,521  4,521     CA

In [10]:
prescriber.head()

,NPI,Gender,State,Credentials,Specialty,ABILIFY,ACETAMINOPHEN.CODEINE,ACYCLOVIR,ADVAIR.DISKUS,AGGRENOX,...,VERAPAMIL.ER,VESICARE,VOLTAREN,VYTORIN,WARFARIN.SODIUM,XARELTO,ZETIA,ZIPRASIDONE.HCL,ZOLPIDEM.TARTRATE,Opioid.Prescriber
0,1710982582,M,TX,DDS,Dentist,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1245278100,F,AL,MD,General Surgery,0,0,0,0,0,...,0,0,0,0,0,0,0,0,35,1
2,1427182161,F,NY,M.D.,General Practice,0,0,0,0,0,...,0,0,0,0,0,0,0,0,25,0
3,1669567541,M,AZ,MD,Internal Medicine,0,43,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1679650949,M,NV,M.D.,Hematology/Oncology,0,0,0,0,0,...,0,0,0,0,17,28,0,0,0,1

In [ ]:
# I don't think this is my dataset. There's not enough predictors here.

### NHANES

In [14]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CAEA-B542

 Directory of C:\Users\kayce_000\Flatiron School\Module 5\Project 4

01/21/2020  04:13 PM    <DIR>          .
01/21/2020  04:13 PM    <DIR>          ..
01/21/2020  04:02 PM    <DIR>          .ipynb_checkpoints
01/21/2020  04:06 PM         1,206,856 demographic.csv
01/21/2020  04:06 PM         4,582,708 diet.csv
01/21/2020  04:06 PM         4,729,841 examination.csv
01/21/2020  04:06 PM         8,322,316 labs.csv
01/21/2020  04:06 PM         1,298,947 medications.csv
01/21/2020  04:13 PM            23,053 Potential Dataset Exploration.ipynb
01/21/2020  04:06 PM        12,414,125 questionnaire.csv
               7 File(s)     32,577,846 bytes
               3 Dir(s)  164,289,515,520 bytes free

In [21]:
exam = pd.read_csv('examination.csv')

In [22]:
exam.head()

,SEQN,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,...,CSXLEAOD,CSXSOAOD,CSXGRAOD,CSXONOD,CSXNGSOD,CSXSLTRT,CSXSLTRG,CSXNART,CSXNARG,CSAEFFRT
0,73557,1,620.0,NaN,NaN,1.0,4.0,86.0,1.0,1.0,...,2.0,1.0,1.0,1.0,4.0,62.0,1.0,NaN,NaN,1.0
1,73558,1,766.0,NaN,NaN,1.0,4.0,74.0,1.0,1.0,...,3.0,1.0,2.0,3.0,4.0,28.0,1.0,NaN,NaN,1.0
2,73559,1,665.0,NaN,NaN,1.0,4.0,68.0,1.0,1.0,...,2.0,1.0,2.0,3.0,4.0,49.0,1.0,NaN,NaN,3.0
3,73560,1,803.0,NaN,NaN,1.0,2.0,64.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73561,1,949.0,NaN,NaN,1.0,3.0,92.0,1.0,1.0,...,3.0,1.0,4.0,3.0,4.0,NaN,NaN,NaN,NaN,1.0

In [24]:
medications = pd.read_csv('medications.csv', encoding = 'ISO-8859-1')

In [25]:
medications.head()

,SEQN,RXDUSE,RXDDRUG,RXDDRGID,RXQSEEN,RXDDAYS,RXDRSC1,RXDRSC2,RXDRSC3,RXDRSD1,RXDRSD2,RXDRSD3,RXDCOUNT
0,73557,1,99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
1,73557,1,INSULIN,d00262,2.0,1460.0,E11,NaN,NaN,Type 2 diabetes mellitus,NaN,NaN,2.0
2,73558,1,GABAPENTIN,d03182,1.0,243.0,G25.81,NaN,NaN,Restless legs syndrome,NaN,NaN,4.0
3,73558,1,INSULIN GLARGINE,d04538,1.0,365.0,E11,NaN,NaN,Type 2 diabetes mellitus,NaN,NaN,4.0
4,73558,1,OLMESARTAN,d04801,1.0,14.0,E11.2,NaN,NaN,Type 2 diabetes mellitus with kidney complicat...,NaN,NaN,4.0

In [27]:
medications['RXDRSD1']

0                                                      NaN
1                                 Type 2 diabetes mellitus
2                                   Restless legs syndrome
3                                 Type 2 diabetes mellitus
4        Type 2 diabetes mellitus with kidney complicat...
5                                Pure hypercholesterolemia
6                                 Type 2 diabetes mellitus
7                                 Type 2 diabetes mellitus
8                         Disease of pancreas, unspecified
9                                Pure hypercholesterolemia
10                        Essential (primary) hypertension
11                                                     NaN
12                                                     NaN
13                        Essential (primary) hypertension
14                             Hypothyroidism, unspecified
15                        Essential (primary) hypertension
16                        Essential (primary) hypertension
17                               Pure hypercholesterolemia
18                        Essential (primary) hypertension
19                        Essential (primary) hypertension
20                                                     NaN
21                                                Insomnia
22       Presence of coronary angioplasty implant and g...
23                                                     NaN
24       Major depressive disorder, single episode, uns...
25                           Anxiety disorder, unspecified
26                             Sleep disorder, unspecified
27        Nicotine dependence unspecified, with withdrawal
28                                                 Myalgia
29                                            Muscle spasm
                               ...
20164                                                  NaN
20165                                                  NaN
20166                                                  NaN
20167                                  Prevent tooth decay
20168                                                 Acne
20169                                                 Acne
20170                     Essential (primary) hypertension
20171                           Unspecified abdominal pain
20172                                    Pain, unspecified
20173                                             Wheezing
20174                                            Emphysema
20175                                      Spinal stenosis
20176                                             Insomnia
20177                                                  NaN
20178                                                  NaN
20179                                    Enlarged prostate
20180                                                  NaN
20181                                                  NaN
20182                     Essential (primary) hypertension
20183    Noninfective gastroenteritis and colitis, unsp...
20184                               Restless legs syndrome
20185                     Essential (primary) hypertension
20186                               Restless legs syndrome
20187                                                  NaN
20188                                                  NaN
20189                                                  NaN
20190                                                  NaN
20191                                                  NaN
20192                                                  NaN
20193                                                  NaN
Name: RXDRSD1, Length: 20194, dtype: object

In [28]:
diet = pd.read_csv('diet.csv')

In [29]:
diet.head()

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,DRD370QQ,DRD370R,DRD370RQ,DRD370S,DRD370SQ,DRD370T,DRD370TQ,DRD370U,DRD370UQ,DRD370V
0,73557,16888.327864,12930.890649,1,49.0,2.0,2.0,6.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73558,17932.143865,12684.148869,1,59.0,2.0,2.0,4.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
2,73559,59641.812930,39394.236709,1,49.0,2.0,2.0,18.0,6.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73560,142203.069917,125966.366442,1,54.0,2.0,2.0,21.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73561,59052.357033,39004.892993,1,63.0,2.0,2.0,18.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0

In [ ]:
#use diet as a predictor, insulin yes or no as a target
#use inferences for missed predictions
#what's the most important feature
#is this missing by random or for a reason? 
# use np.where() to convert to 1 and 0

1. Assemble useable dataframe
2. Decide on features to use as predictors (sklearn Logistic Regression)
3. Clean data
4.